@include media-md {
  .menu-btn {
    visibility: hidden;
  }

  .nav {
    visibility: visible;

    .menu-nav {
      display: block;
      transform: translateY(0);
      height: 100%;
      background: transparent;
      text-align: left;

      &_item {
        display: inline;
        padding-right: 1.5rem;
      }

      &_link {
        font-size: 1.5rem;
        padding-top: 0.3rem;
      }
    }
  }

  .about_bio {
    font-size: 1.1rem;
    z-index: 2;
  }

  .projects {
    &_bio-image {
      height: 40vh;
    }

    &_items {
      grid-template-columns: repeat(2, 1fr);
    }

    .text-secondary {
      font-size: 3rem;
    }
  }

  .project_title {
    margin-top: 0.3rem;
  }

  .contact_list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@include media-xs {

  .home{
    padding-top: 30vh;
  }

  .contact_list {
    // margin-left: 6rem;
    font-size: 1.1rem;
    // background-color: blue;
  }

  .projects_item:nth-child(2) .project_title {
    // margin-top: 0.3rem;
    font-size: 0.8rem;
  }
}

@include media-sh{
  .home{

    padding-top: 20vh;
    h2{
      transform: scale(0.8);
    }

    &_name{
      transform: scale(0.8);
    }
  }

  .contact{
    padding-top: 20vh;

    h2{
      margin-bottom: 0rem;
    }

    &_list{
      transform: scale(0.8);
    }
  }

}
